<head>
    <h1 style="color:powderblue;">{{.PageTitle}}</h1>
    <meta charset="utf-8">
    
<link rel="stylesheet" href="http://mistic100.github.io/jQCloud/dist/jqcloud2/dist/jqcloud.min.css">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>   
    <script src="http://mistic100.github.io/jQCloud/dist/jqcloud2/dist/jqcloud.min.js"></script>

    <style>
    #cloud {
      width: 700px;
      height: 300px;
    }
    </style>
<script type="text/javascript">
$(document).ready(function() {
  $('.content-link').click(function(e) {
    e.preventDefault();

    $('html, body').animate({
      scrollTop: $('#profile-body').offset().top
    }, 500);
  });
});    
</script>
</head>
<body>
    <div id="cloud"></div>
    <script type="text/javascript">
        var words = [];
    </script>
    <div id="not-cloud">
        {{$WatsonFnURL := .WatsonFnURL}}
        {{$Timeout := .Timeout}}
        {{range $i, $tweet := .Tweets}}
        {{if gt (len $tweet.ImageURLs) 0}}
        <div>
            {{range $j, $imageURL := $tweet.ImageURLs}}            
            	<div id="tw{{$i}}_{{$j}}">
            		<img src="{{$imageURL}}">
            	</div>
                   <script type="text/javascript">
                    $(document).ready(function() {
                        $.get( "{{ $WatsonFnURL }}?q={{ $imageURL }}", function( data ) {
                          data.classifiers.forEach(function(c){
                            c.classes.forEach(function(b) {
                                $("#tw{{$i}}_{{$j}}").append("<div>"+b["class"]+" "+b.score+"</div>");
                                words.push({text: b["class"], 
                                            weight: b.score*1000, 
                                            link: "#tw{{$i}}_{{$j}}"})
                            });
                          });
                          $('#cloud').jQCloud(words);
                        });
                    });
                   </script>
                </div>
            {{end}}
            <div>{{.Text}}</div>
            <br/>
            <hr/>
        </div>
        {{end}}
        {{end}}
    </div>
</body>